.login{

    

    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.explore{
    font-family: "Junge", cursive;
    font-weight: 400;
    font-style: normal;
}

.trocchi-regular {
    font-family: "Trocchi", serif;
    font-weight: 400;
    font-style: normal;
  }
  